/* style: both PC and smart phone*/
body {
  font-family: 
    "Source Sans Pro",
    "Hiragino Kaku Gothic ProN",
    Meiryo,
    Arial,
    sans-serif;
}
p {
  font-size: 15px;
}
/* style for PC*/
/* width adjustment*/
body {
  max-width: 1080px;
  min-width: 960px;
  margin: 0 auto 0 auto;
}
/*header*/
header {
  display: flex;
  justify-content: space-between;
}
/*nav bar layout*/
#nav-pc {
  /* align to the right */
  text-align: right;
  font-size: 14px;
  padding-top: 15px;
}
/* style navigation links*/
#nav-pc > a {
  /* remove underline*/
  text-decoration: none;
  /* space between each link*/
  margin-left: 20px;
}

/* set a color of link to black */
#nav-pc > a:link {
  color: #0d0d0d;
}
/* let the link color stay with black*/
#nav-pc > a:visited {
  color: #0d0d0d;
}
/* show underlines by hovering*/
#nav-pc > a:hover {
  color: #0d0d0d;
  text-decoration: underline;
}
/* change colors when a link is active*/
#nav-pc > a:active {
  color: #0d0d0d;
}

/* main page */
#main-visual {
  position: relative;
  height: 400px;
}

#main-message {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  background-color: #2710d5;
  border-radius: 0 0 476px 0;
  max-width: 620px;
  height: 100%;
  width: 100%;
  z-index: 11;

}

#main-message > h1 {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  margin: 100px 0 0 50px;
}
#main-message > p {
  position: absolute;
  left: 10px;
  font-size: 24px;
  margin: 0 0 0 50px;
}
#main-visual > img {
  max-width: 620px;
  border-radius: 476px 0 0 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
/* heading */
h2 {
  margin: 40px 0 0 0;
}
h2::after {
  /* add horizontal line next to headings*/
  content: url("../images/line.png");
  margin-left: 10px;
}

h3 {
  font-size: 27px;
}

/* mission */
#mission {
  /* centering with 80px spaces on top and bottom*/
  margin: 80px auto 80px auto;
  width: 100%;
}

#mission-flex {
  /* spread out 2 divs */
  width: 100%;
  /* set 2 dives next to each other */
  display: flex;
}

#mission-flex > div {
  /* align width of each div equally */
  width: 50%;
  /* with 20px margins */
  margin: 20px;
}
#mission-photo {
  width: 100%;
}

#s2dgs {
  margin-top: 50px;
}
/* product */
#product {
  background-color:#fafafa;
  width: 100%;
  margin: 80px 0 80px 0;
  padding: 10px 40px 10px 40px;
}
/* outer */
#product > div {
  margin-top: 40px;
  display: flex;
}

/* left column */
#product-left {
  width: 50%;
  margin-right: 20px;
}
/* right column */
#product-right {
  width:50%;
  margin-left: 20px;
  margin-top: 80px;
}

/* left div */
#product-left > div {
  position: relative;
  height: 480px;
  margin-right: 20px;
}

/* right div */
#product-right > div {
  position: relative;
  height: 480px;
  margin-right: 20px;
}

/* picture: keep it in the box */
.product-photo {
  width: 100%;
}

/* explanation */
.product-explain {
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 280px;
  margin: 0 40px 0 40px;
  padding: 20px;
  /* add shadow to the div box*/
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}
  
/* explanation title */
.product-explain > span {
  color: #2710d5;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}
  
/* explanation headding3 */
.product-explain > h3 {
  margin: 5px 0 5px 0;
}  
/* explanation */
.product-explain > p {
  margin: 0;
}  
/* Read more button */
#product-more {
  margin: 0 auto -42px auto;
}
/* ABOUT US */
#aboutus {
  margin: 80px auto 80px auto;
}

/* OUTER */
#aboutus > div {
  display: flex;
}

/* about us pictures */
.culture-img {
  width: 100%;
  align-self: flex-start;
}

.culture-img2 {
  margin-top: 50px;
  width: 100%;
}

/* table */
.culture-table {
  max-width: 500px;
  margin-right: 50px;
}

.culture-num {
  font-size: 80px;
  color: #2710d5;
  margin: 0 20px 0 0;
}

.culture-en {
  color: #2710d5;
  font-weight: bold;
  font-size: 24px;
  /* setting english and japanese title vertically*/
  display: block;
}

.culture-jp {
  font-size: 28px;
  font-weight: bold;
}

.culture-description {
  margin: 0;
}

/* VISION area */
#vision {
  margin: 80px auto 80px auto;
}

/* div in the vision section */
#vision > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* 7 boxes */
.vision-box {
  /* Create recutangular */
  width: 300px;
  height: 300px;
  /* Add spaces between boxes */
  margin-bottom: 30px;
  /* Set it as relative for the absolute position later */
  position: relative;
}

.vision-box > img {
  width: 100%;
  height: auto;
  /* Set each image at the top left corrner of div*/
  position: absolute;
  top: 0;
  left: 0;
  /* Set the base for layers */
  z-index: 30;
}

/* Grouping heading and texts */
.vision-box > span {
  position: absolute;
  top: 0;
  left: 0;
  /* Set text above images */
  z-index: 31;
  margin-right: 20px;
}  

/* Index VISION */
.vision-box > span > h4 {
  /* Changing the color to blue */
  color: #2710d5;
  font-size: 19px;
  /* Setting it 80px lower */
  margin: 80px 0 0 0;
}

/* Emphasize the first letter */
.vision-box > span > h4::first-letter {
  font-size: 40px;
}

.vision-box > span > h5 {
  font-size: 20px;
  margin: 0 0 0 0;
}

/* Adding a bot of space between h5 heading and texts */
.vision-box > span > p {
  margin: 10px 0 0 0;
}

/* COMPANY */
#company {
  margin: 80px auto 80px auto;
}
/* strech tables out*/
#company-table {
  width: 100%;
}
.tableheader {
  text-align: left;
  padding: 20px;

  /* bottom line for table head */
  border-bottom-color: #2710d5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  /* extend width */
  width: 100px;
}

/* Adding the top line for the first row */
.tableheader-first {
  text-align: left;
  padding: 20px;
  border-bottom-color: #2710d5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-color: #2710d5;
  border-top-width: 1px;
  border-top-style: solid;
  width: 100px;
}

/* Adding bottom sline for the cells */
.cell {
  padding: 30px;
  border-bottom-color: #ececec;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
/* Adding top line for the first cell*/
.cell-first {
  padding: 30px;
  border-bottom-color: #ececec;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-color: #ececec;
  border-top-width: 1px;
  border-top-style: solid;
}

/* iframe map size adjustment */
#company > iframe {
 width: 100%;
 height: 368px;
 margin-top: 40px;
}

/* FORM */
#contact {
  margin: 80px auto 80px auto;
}

#contact > form > div {
  display: flex;
  /* Left to right */
  flex-direction: row;
  /* wrap when the space is not sufficient*/
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.contact-heading {
  width: 240px;
  /* align heading to center */
  align-self: center;
}

.contact-label {
  font-weight: bold;
}

/* span */
.contact-span {
  color: #ce2222;
  margin: 0 0 0 20px;
  font-weight: bold;
}

/* Text box */
.contact-textbox {
  /* No border on the top */
  border-top: 0;
  border-left: 0;
  border-right: 0;
  /* Bottom line */
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  border-bottom-style: solid;
  /* Box area */
  background-color: #fafafa;
  width: 400px;
  height: 56px;
}

/* Inquiry area */
.contact-textarea {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  border-bottom-style: solid;
  background-color: #fafafa;
  width: 400px;
  /* make the height longer than other box */
  height: 200px;
}





