/* style: both PC and smart phone*/
body {
  font-family: 
    "Source Sans Pro",
    "Hiragino Kaku Gothic ProN",
    Meiryo,
    Arial,
    sans-serif;
}
p {
  font-size: 15px;
}
/* style for PC*/
/* width adjustment*/
body {
  max-width: 1080px;
  min-width: 960px;
  margin: 0 auto 0 auto;
}
/*header*/
header {
  display: flex;
  justify-content: space-between;
}
/*nav bar layout*/
#nav-pc {
  /* align to the right */
  text-align: right;
  font-size: 14px;
  padding-top: 15px;
}
/* style navigation links*/
#nav-pc > a {
  /* remove underline*/
  text-decoration: none;
  /* space between each link*/
  margin-left: 20px;
}

/* set a color of link to black */
#nav-pc > a:link {
  color: #0d0d0d;
}
/* let the link color stay with black*/
#nav-pc > a:visited {
  color: #0d0d0d;
}
/* show underlines by hovering*/
#nav-pc > a:hover {
  color: #0d0d0d;
  text-decoration: underline;
}
/* change colors when a link is active*/
#nav-pc > a:active {
  color: #0d0d0d;
}

/* main page */
#main-visual {
  position: relative;
  height: 400px;
}

#main-message {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  background-color: #2710d5;
  border-radius: 0 0 476px 0;
  max-width: 620px;
  height: 100%;
  width: 100%;
  z-index: 11;

}

#main-message > h1 {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  margin: 100px 0 0 50px;
}
#main-message > p {
  position: absolute;
  left: 10px;
  font-size: 24px;
  margin: 0 0 0 50px;
}
#main-visual > img {
  max-width: 620px;
  border-radius: 476px 0 0 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}
/* heading */
h2 {
  margin: 40px 0 0 0;
}
h2::after {
  /* add horizontal line next to headings*/
  content: url("../images/line.png");
  margin-left: 10px;
}

h3 {
  font-size: 27px;
}

/* mission */
#mission {
  /* centering with 80px spaces on top and bottom*/
  margin: 80px auto 80px auto;
  width: 100%;
}

#mission-flex {
  /* spread out 2 divs */
  width: 100%;
  /* set 2 dives next to each other */
  display: flex;
}

#mission-flex > div {
  /* align width of each div equally */
  width: 50%;
  /* with 20px margins */
  margin: 20px;
}

#mission-photo {
  width: 100%;
}

#s2dgs {
  margin-top: 50px;
}